# Compress content via deflate (like gzip)
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/x-javascript application/javascript

# Set caching times for all content at one week.
ExpiresActive On
ExpiresDefault "access plus 1 week"

# Do not provide directory indexes
Options -Indexes

# Never send any errors to the browser
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off

Header add Content-type "application/json"
Header add Access-Control-Allow-Origin "*"

ErrorDocument 404 /404.json

<IfModule pagespeed_module>
  ModPagespeed off
</IfModule>

# Documentation
RewriteRule ^docs/?$ docs/index.html [L]
RewriteRule ^openapi\.yaml$ openapi.yaml [L]
